/* Ioana A Mititean */
/* 37.4: React State - Eight Ball */


.EightBall {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.EightBall-ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    aspect-ratio: 1;
    border-radius: 100%;
}

.EightBall-msg {
    text-align: center;
    color: white;
    background-color: darkblue;
    font-size: 30px;
}
